body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2e3944;
    margin: 0;
    overflow: hidden;
}

canvas {
    border: 1px solid white;
}

button {
    font-size: 16px;
    cursor: pointer;
    height: 40px;
}

.colorButton {
    width: 40px;
}

#whiteButton {
    background-color: white;
    color: white;
}

#blackButton {
    background-color: black;
    color: black;
}

#redButton {
    background-color: red;
    color: red;
}

#greenButton {
    background-color: green;
    color: green;
}

#blueButton {
    background-color: blue;
    color: blue;
}

#yellowButton {
    background-color: yellow;
    color: yellow;
}

#magentaButton {
    background-color: magenta;
    color: magenta;
}

#cyanButton {
    background-color: cyan;
    color: cyan;
}

.link {
    color: white;
}